.menu {
	background: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	padding: 13px;

	button {
		color: #ffffff;
	}
}

mat-accordion mat-expansion-panel {
	background: #000;
}

mat-accordion ::ng-deep .mat-expansion-panel {
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
}

.mobile-menu-container ::ng-deep .mat-expansion-panel-body {
	padding: 0;
}