.mobile-menu {
  position: fixed;
  width: 100%;
}

.hero {
  background-color: #000000;
  color: #ffffff;

  .globe-container {
    background-image: url("../assets/images/globe.png");
    background-repeat: no-repeat;
    background-size: 291px 291px, contain;
    height: 255px;
    background-position: -44px -38px;
  }

  /* Fluid font size
	font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	*/

  .main-text {
    padding: 0 30px 30px 30px;
    margin-top: 30px;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: calc(38px + (55 - 38) * ((100vw - 376px) / (768 - 376)));
      line-height: 46px;
      color: #ffffff;
    }

    p {
      font-size: calc(17px + (20 - 17) * ((100vw - 376px) / (768 - 376)));
      line-height: 24px;
      font-weight: 500;
    }
  }

	.call-to-action {
    padding: 0 30px 30px 30px;
		display: grid;
		place-items: center;

    button {
      width: 100%;
      font-weight: bold;
      height: 60px;
      margin: 10px auto;
    }
  }

  .reminder {
    font-size: 14px;
    padding: 0 30px;

    a {
      color: #fff;
    }
  }
}

}
