.mobile-menu {
  position: fixed;
  width: 100%;
}

.component-container {
	width: 100%;
	padding:0;
	margin: -2px 0 0 0;

	&.black {
		background-color: #000000;
	}

	&.grey {
		background-color: #fafafa;
	}
}

