.hero {
  background-color: #000000;
  color: #ffffff;

  .globe-container {
    background-image: url("../../../assets/images/globe.png");
    background-repeat: no-repeat;
    background-size: 291px 291px, contain;
    height: 255px;
    background-position: -44px -38px;
  }

	> div:not(.globe-container) {
		padding: 15px 30px;
	}

  /* Fluid font size
	font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	*/

  .main-text {
    margin-top: 30px;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: calc(38px + (55 - 38) * ((100vw - 376px) / (768 - 376)));
      line-height: 1.2;
      color: #ffffff;
    }

    p {
      font-size: calc(17px + (20 - 17) * ((100vw - 376px) / (768 - 376)));
      line-height: 1.6;
      font-weight: 500;
    }
  }

  .call-to-action {
    display: grid;
    place-items: center;

    button {
      width: 100%;
      font-weight: bold;
      height: 60px;
      margin: 10px 0;
    }
  }

  .reminder {
    font-size: 14px;

    a {
      color: #fff;
    }
  }

	@media screen and (min-width: 510px) {

		> div:not(.globe-container) {
			padding: 15px 48px;
		}

		.call-to-action {
			display: flex;
			justify-content: flex-start;

			button {
				flex: 0 1 250px;
			}

			button + button {
				margin-left: 30px;
			}

		}
	}
}
