@use "~@angular/material" as mat;
@import "./assets/styles/typography";
@import "./assets/styles/light";
@import "./assets/styles/_variables";

@include mat.core();

@include mat-core($xm-typography);
@include mat.all-component-themes($xm-theme);
// @include mat.core-theme($xm-theme)

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: Gilroy, sans-serif;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  border-radius: 2px !important;
}

.mat-stroked-button {
	border: 1px solid $xm-primary!important;
}

.mat-menu-panel {
	border-radius: 0!important;
	width: 196px;
	box-shadow: rgba(131, 129, 129, 0.35) 0px 1px 15px;
}

.mat-menu-content {
	background-color: #000000;

	li {
		color:#ffffff;
		font-weight: 600;
	}

	.mat-menu-item {

	}
}

.carousel {
	height: 100%!important;
	margin: auto;
}

.center-content {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
