@use "sass:map";
@use "@angular/material" as mat;

@import './variables';

$xm-primary: mat.define-palette($xm-primary-palette);
$xm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$xm-light: mat.define-palette($xm-light-palette, A200, A100, A400);

$xm-warn: mat.define-palette(mat.$red-palette);

$xm-theme: mat.define-light-theme((
  color: (
    primary: $xm-primary,
    accent: $xm-accent,
    warn: $xm-warn,
  )
));