/* For use in src/lib/core/theming/_palette.scss */
$xm-primary-palette: (
    50 : #e1f3ee,
    100 : #b5e1d5,
    200 : #83ceb9,
    300 : #51ba9c,
    400 : #2cab87,
    500 : #079c72,
    600 : #06946a,
    700 : #058a5f,
    800 : #048055,
    900 : #026e42,
    A100 : #9dffd1,
    A200 : #6affb9,
    A400 : #37ffa0,
    A700 : #1eff94,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$xm-light-palette: (
    50 : #e9faf4,
    100 : #c8f2e3,
    200 : #a4ead1,
    300 : #80e1be,
    400 : #64dab0,
    500 : #49d4a2,
    600 : #42cf9a,
    700 : #39c990,
    800 : #31c386,
    900 : #21b975,
    A100 : #f3fff9,
    A200 : #c0ffe1,
    A400 : #8dffc9,
    A700 : #74ffbd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


